body{
    height: 100%;
    width: 100%;
    background-color: rgb(216, 216, 216);
}
form{
    max-width: 500px;
    min-width: 300px;
    height: 90%;
    padding: 15px 35px 45px;
    margin:0 auto ;
    background-color: white; 
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    font-size: 20px;
}
.box{
margin: 5% 10px 5% 10px;
}
h1, h2{
    margin: auto auto;
    color: #007acc;
}
input{
    margin-top: 5px;
  }
label{
    margin: 0.75rem 0 0.25rem 0;
    border-bottom: solid rgb(0, 122, 204);
}
a{
    color: white;
    text-decoration: none;
}
button{
    width: 100%;
    font-size: 25px;
}
.btn-1{
    margin: 10px 0 20px 0;
}
.hr{
    height: 5px;
}
.boton{
    width: 90%;
}