h1{
    text-align: center;
}
body{
    background: linear-gradient(90deg, rgb(255, 80, 255) 0%, #00c9ff) !important;
    background-color: #D1CFCE;
}
form{
    max-width: 350px;
    padding: 15px 35px 45px;
    margin:0 auto;
    background-color: white;
    border-radius: 30px;    
}
.box{
    margin-top: 100px;
    margin-bottom: 100px;
}.but{
    margin-top: 5px;
    margin-top: 60px;
}
.a-f{
    color: white;
    text-decoration: none;
}

