.nosotros{
    text-align: justify;
}
.nimg{
    width: 1060px;
    height: 500px;
}
.cimg{
    width: 400px;
}
.simg{
    width: 287px;
    height: 200px;
}
.c-footer{
    background-color: black;
    color: white;
    text-decoration: none;
}
.a-f{
    text-decoration: none;
    color: white;
}
.mt{
    margin-top: auto;
    margin-bottom: auto;
}
